.PotionListaItem {
  font-family: 'Exo';
  background: #fbdc6a;
  border-radius: 10px;
  padding: 10px;
  width: 315px;
  display: flex;
  position: relative;
  justify-content: space-around;
  cursor: pointer;
  transition: all 0.5s;
}

@media (max-width: 400px) {
  .PotionListaItem {
    width: 210px;
    height: 180px;
  }
}

.PotionListaItem--disable {
  box-shadow: 0px 0px 7px #e6af30;
}

.PotionListaItem--disable,
.PotionListaItem--disable .PotionListaItem__valor {
  color: gray;
}

.PotionListaItem--disable .PotionListaItem__badge {
  display: none;
}

.PotionListaItem__badge {
  background-color: #ffffff;
  width: 20px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  color: black;
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  top: -9px;
  left: -9px;
}
.PotionListaItem__tag {
  background-color: #e6af30 !important;
  color: white !important;
  position: absolute;
  font-size: 0.6em;
  border-radius: 5px;
  padding: 5px;
  top: -15px;
  left: -10px;
  letter-spacing: 1px;
}

.PotionListaItem > div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

/* Itens do Card*/
.PotionListaItem__nome {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 100%;
}
.PotionListaItem__descricao {
  font-size: 0.85em;
}
.PotionListaItem__valor {
  color: #b12b24;
}
.PotionListaItem__img {
  height: 150px;
  margin-right: -60px;
}

.PotionListaItem--deletar {
  box-shadow: 0px 0px 7px #760504;
}

.PotionListaItem__tag--deletar {
  background-color: #760504 !important;
}

/*Botões */
.Acoes {
  display: flex;
  justify-content: space-between;
}
.Acoes__adicionar,
.Acoes__remover {
  border: none;
  color: #090a0e;
  border-radius: 5px;
  font-family: 'Exo', sans-serif;
  padding: 5px;
  max-width: 280px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  width: 48%;
}

.Acoes__remover {
  background-color: #760504;
}

.Acoes__adicionar {
  background-color: #e6af30;
}

.Acoes__adicionar--preencher {
  width: 100%;
}


